.imgHome {
	width: 5%;
	height: 5%;
	margin-top: 5px;
	float: right;
}

.imgReturn {
	width: 5%;
	height: 5%;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 5px;
	float: right;
}

.btns {
	float: right;
}

.title {
	font-size: 20pt;
	margin-bottom: 5px;
}